


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
}

header {
  padding: 20px;
  background: #180118;
  height: 20px;
}

.sidenav {
  width: 240px;
  background: #180118;
  position: absolute;
  height: 95vh;
  padding: 0 30px;
  left: -100%;
  overflow: hidden;
  transition: all 1s;
  z-index: 500;
}

.sidenav.active {
  left: 0;
  z-index: 500;
}

ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

ul li {
  list-style-type: none;
  
}

ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 10px 15px;
  border-radius: 6px;
  transition: 0.3s ease-in;
}

.sidenav ul li a:hover,
.sidenav ul li a.active {
  background-color: #aa86b1;
  font-size: 20px;
}

header svg {
  font-size: 20px;
  transition: 0.4s ease-out;
  border: none;
  background: transparent;
  background-color: transparent;
}

header svg:hover {
  box-shadow:  0px 0px 10px #aa86b1;
  font-size: 25px;
}

.homecontent img {
  width: 100vw;
  height: 94vh;
  object-fit: cover;
}

.topbar {
  position: absolute;
  right: 10px;
  top: -4px;

}

.topbar ul {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 2px;
}


.topbar ul li a {
  color: white;
}

header .topbar svg {
  padding: 0;
  margin: 0;
  font-size: 18px;
  transition: 0.4s ease-out;
  border: none;
  background: transparent;
  background-color: transparent;
  position: relative;
}

header .topbar svg:hover {
  box-shadow:  0px 0px 10px #aa86b1;
  font-size: 20px;
}

.homecontent h1 {
  font-family: Poppins, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 60px;
  z-index: 700;
  position: absolute;
  color: rgb(250, 250, 250);
  text-align: center;
  right: 80px;
  top: 45%;
  text-shadow: 5px 5px 15px #aa86b1;

  
}



@media (max-width: 1000px){
  .homecontent h1 {
    right: 20px;
    margin: 10px;

  }
  
}

/* @import "tailwindcss" */

.videoslider {
  background-color: #180118;
  margin-top: -40px;
  padding: 0;
  height: 100vh;
}

.videoslider h1 {
  text-align: center;
  padding: 20px;
  padding-top: 30px;
  font-size: 50px;
  font-family: Poppins, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.videoslider .swiper iframe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  border-radius: 20px;
  position: relative;
  left: 340px;
  top: 10px;
  height: 600px;
  width: 60%;
  object-fit: cover;
  box-shadow: 0px 0px 15px #913fa2;
}

.videoslider .swiper p {
  text-align: center;
  padding: 10px;
  margin-bottom: 50px;
  color: white;
  text-decoration: none;
  font-family: Poppins, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.videoslider .swiper-link {
  text-decoration: none;
}

.videoslider .swiper-button-prev,
.videoslider .swiper-button-next {
  color: white;
  padding: 0 40px;
  position: absolute;
  top: 300px;
  font-size: 50px;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  
} 

.videoslider .swiper-button-prev:hover {
  text-shadow: 0 0 20px #aa86b1;
  transform: translateX(-5px);
}

.videoslider .swiper-button-next:hover {
  text-shadow: 0 0 20px #aa86b1;
  transform: translateX(5px);
}

.swiper-pagination-bullet {
  border: 2px solid red;
  background-color: #aa86b1;
  padding: 5px;
  transition: 0.2s ease-in-out;
  
}

.swiper-pagination-bullet-active {
 
  background-color: #aa86b1;
  padding: 3px;
  
}

.music-slider {
  background-color: #b194b7;
  padding: 0;
  margin-top: -22px ;
  height: 1200px;
}

.music-slider h1 {
  color: white;
  text-align: center;
  padding: 10px;
  margin-bottom: 50px ;
  position: relative;
  top: 20px;
  font-family: Poppins, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.music-slider img {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px black;
  position: relative;
  top: 20px;
}

.music-slider .music-swiper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  height: 1200px;
}

.music-slider .music-swiper-link {
  text-decoration: none;
}

.music-slider p {
  color: white;
  text-align: center;
  font-family: Poppins, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
  font-weight: bold;

}

.streaming-links {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 2em;
}

.streaming-links img {
  height: 50px;
  width: 180px;
  position: relative;
  border: 2px solid black;
  background-color: transparent;
  transform: translateY(570px);
  object-fit: cover;
  box-shadow: 0px 0 5px #180118;
  transition: 0.3s ease-in;
}

.streaming-links img:hover {
  background-color: white;
}