@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
}



header {
  padding: 20px 10px;
  margin: 0 0px;
  background: #180118;
  height: 2vh;
  width: 100vw;
  z-index: 1000;
  position: fixed;
  top: 0;
  
}

.sidenav {
  /* width: 500px; */
  width: 100%;
  background: #180118;
  position: absolute;
  height: 5vh;
  left: -150%;
  border-radius: 0 0 10px 0px;
  overflow: hidden;
  transition: all 1s;
  z-index: 900;
  position: fixed;
  top: 56px;
}

.sidenav.active {
  left: 0;
  z-index: 900;
}

ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

ul li {
  list-style-type: none;
}

ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 10px 15px;
  border-radius: 6px;
  transition: 0.3s ease-in;
}

.sidenav ul li a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  display: block;
  padding: 10px 15px;
  border-radius: 6px;
  transition: 0.3s ease-in;
}

.sidenav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.sidenav ul li a:hover,
.sidenav ul li a.active {
  text-shadow: 0 0 10px #aa86b1;
  font-size: 13px;
  background-color: transparent;
}

header svg {
  font-size: 20px;
  transition: 0.4s ease-out;
  border: none;
}

header svg:hover {
  box-shadow:  0px 0px 10px #aa86b1;
  font-size: 22px;
}

.homecontent img {
  position: relative;
  top: 50px;
  max-width: 100%;
  height: 100vh;
  object-fit: cover;
}

@keyframes fontLoop {
  0% { 
    text-shadow: 0 0 0px #aa86b1;
   }
  100% { 
    text-shadow: 0 0 30px #aa86b1;
    right: 26vw;
    }
}
@keyframes lightLoop {
  0% { 
    text-shadow: 0 0 0px #aa86b1;
   }
  100% { 
    text-shadow: 0 0 30px #aa86b1;
    }
}

@media (min-width: 1001px) {
  .homecontent #small {
    position: absolute;
    text-align: center;
    font-size: clamp(60px, 4.5vw,75px);
    top: 50vh;
    right: 5vw;
    transition: 0.5s ease-in-out;
    animation: lightLoop 1s   infinite alternate ease-in-out;
  }

  .homecontent #small a {
    text-decoration: none;
    color: white;
    margin: 0;
    padding: 0;
  }

  .homecontent #small:hover {
    opacity: 0.7;
    
  }
}

@media (max-width: 1000px) {
  .homecontent #small {
    position: absolute;
    font-size: clamp(32px, 5vw, 42px);
    white-space: nowrap;
    writing-mode: vertical-lr;
    top: 20vh;
    right: 25vw;
    transition: 0.5s ease-in-out;
    animation: fontLoop 1s   infinite alternate ease-in-out;
  }

  .homecontent #small a {
    text-decoration: none;
    color: white;
  }

  .homecontent #small:hover {
    opacity: 0.7;
    
  }

  
}

@media (max-width: 800px) {
  .homecontent #small {
    position: absolute;
    font-size: clamp(32px, 6vw, 45px);
    white-space: nowrap;
    writing-mode: vertical-lr;
    top: 29vh;
    right: 20vw;
    transition: 0.5s ease-in-out;
    animation: fontLoop 1s   infinite alternate ease-in-out;
  }

  .homecontent #small:hover {
    opacity: 0.7;
    
  }

  .homecontent #small a {
    text-decoration: none;
    color: white;
  }

  
}



.topbar {
  position: absolute;
  right: 10px;
  top: 0.5vh;
  
}

.topbar ul {
  display: flex;
  flex-direction: row;
  gap: 0px;
  padding: 2px;
}


.topbar ul li a {
  color: white;
}

header .topbar svg {
  padding: 0;
  margin: 0;
  font-size: 18px;
  transition: 0.4s ease-out;
  border: none;
  background: transparent;
  background-color: transparent;
  position: relative;
}

header .topbar svg:hover {
  box-shadow:  0px 0px 10px #aa86b1;
  font-size: 20px;
}



.videoslider {
  background-color: #180118;
  height: 115vh;
  padding-top: min(5em, 20%);
}

.videoslider h1 {
  text-align: center;
  font-size: clamp(3rem, 4vw, 5rem);
  text-shadow: 0 0 5px #913fa2;
  font-family: Poppins, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-bottom: 3vh;
  margin-top: 3vh;
}



.videoslider .swiper iframe {
  display: grid;
  grid-template-columns: auto;
  justify-self: center;
  margin-top: 3vh;
  min-width: 60%;
  height: 70vh;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0px 0px 15px #913fa2;
}

.videoslider .swiper p {
  text-align: center;
  font-weight: bold;
  margin: 8vh;
  color: white;
  text-decoration: none;
  font-family: Poppins, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.videoslider .swiper-link {
  text-decoration: none;
}

.videoslider .swiper-button-prev,
.videoslider .swiper-button-next {
  color: white;
  padding: 0 5vw;
  position: absolute;
  top: 300px;
  transition: 0.3s ease-in-out;
} 

.videoslider .swiper-button-prev:hover {
  text-shadow: 0 0 20px #aa86b1;
  font-weight: bold;
  transform: translateX(-5px);
}

.videoslider .swiper-button-next:hover {
  text-shadow: 0 0 20px #aa86b1;
  font-weight: bold;
  transform: translateX(5px);
}

.videoslider .swiper-nav .swiper-pagination-bullet {
  min-width: 2vw;
  height: 5px;
  border-radius: 10px;
  background-color: gray;
  transition: 0.3s ease-in-out;
}

.videoslider .swiper-nav .swiper-pagination-bullet:hover {
  background-color: #b194b7;
  opacity: 0.6;
  width: 2.5vw;
}


.videoslider .swiper-nav .swiper-pagination-bullet-active {
  box-shadow: 0 0 7px #b194b7;
  background-color: #aa86b1;
  width: 4vw;
  
}

.music-slider {
  background-color: #b194b7;
  margin-top: -7vh;
  /* height: 1100px; */
  max-height: 150vh;
}

.music-slider h1 {
  font-size: clamp(3rem, 4vw, 5rem);
  margin-bottom: 5vh;
  margin-top: 7vh;
  padding-top: 7vh;
  color: white;
  text-shadow: 5px 5px 10px #180118;
  text-align: center;
  font-family: Poppins, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.music-slider p {
  color: white;
  text-align: center;
  text-shadow: 0 0 7px #180118;
  font-family: Poppins, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: clamp(15px, 3.5vw, 30px);
  margin-bottom:auto ;
  font-weight: bold;
  margin: 0.5vh 0;
  margin-bottom: 2vh;
}

.music-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 0em;
  
}

.music-container img {
  width: 30vw;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 0 10px #180118;
}

.music-container .streaming-links img {
  width: 20vw;
  height: 4vh;
  object-fit: contain;
  transition: 0.5s ease-in-out;
}



.streaming-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5vh;
}


.streaming-links img:hover {
  background-color: white;
}

.footer {
  height: 12vh;
  background-color: #180118;
  overflow: hidden;
}

.footer p {
  position: relative;
  text-align: center;
  top: 30px;
  font-size: clamp(13px, 3vw, 2px);
  margin-bottom: 1vh;
}

.footer .copy {
  color: rgba(209, 209, 209, 0.394);
  font-size: (10px, 2vw, 13px);
}




/* @media (max-width: 1289px) {
  .homecontent h1 {
    font-size: 50px;
  }

  .videoslider .swiper iframe {
  left: 260px;
  top: 10px;
  max-height: 500px;
  min-width: 60%;
  }

  .videoslider .swiper-button-prev,
  .videoslider .swiper-button-next {
    top: 250px;
  }

  .videoslider .swiper-nav .swiper-pagination-bullet {
    width: 20px;
    height: 5px;
  }
  
  .videoslider .swiper-nav .swiper-pagination-bullet:hover {
    width: 25px;
  }
  
  
  .videoslider .swiper-nav .swiper-pagination-bullet-active {
    width: 40px;
  }
  

}

@media (max-width: 1160px) {
  .homecontent h1 {
    font-size: 40px;
  }

  .videoslider {
    background-color: #180118;
    margin-top: -40px;
    padding: 0;
    height: 100vh;
  }

  .videoslider .swiper iframe {
  left: 240px;
  top: 10px;
  max-height: 400px;
  margin-bottom: 40px;
  min-width: 60%;
  }

  .videoslider .swiper-button-prev,
  .videoslider .swiper-button-next {
    top: 200px;
    
  }

  .videoslider .swiper-nav .swiper-pagination-bullet {
    width: 20px;
    height: 5px;
  }
  
  .videoslider .swiper-nav .swiper-pagination-bullet:hover {
    width: 25px;
  }
  
  
  .videoslider .swiper-nav .swiper-pagination-bullet-active {
    width: 40px;
  }

  .music-slider img {
    width: 300px;
    height: 300px;
  }

  .music-slider {
    height: 900px;
  }
  
  .music-slider .music-swiper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    height: 900px;
  }

  
  
  .music-slider p {
    color: white;
    text-align: center;
    font-family: Poppins, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    font-weight: bold;
  }

  .streaming-links img {
    height: 40px;
    width: 160px;
    position: relative;
    border: 2px solid black;
    background-color: transparent;
    transform: translateY(570px);
    object-fit: cover;
    box-shadow: 0px 0 5px #180118;
    transition: 0.3s ease-in;
  }

  .streaming-links {
    transform: translateY(-190px);
  }



  

}


@media (max-width: 740px) {
  .homecontent h1 {
    font-size: 30px;
  }

  .videoslider {
    margin-top: -40px;
    padding: 0;
    height: 80vh;
  }

  .videoslider .swiper iframe {
  left: 150px;
  top: 10px;
  max-height: 250px;
  margin-bottom: 40px;
  min-width: 60%;
  }

  .videoslider .swiper-button-prev,
  .videoslider .swiper-button-next {
    top: 140px;
  }

  .videoslider .swiper-nav .swiper-pagination-bullet {
    width: 15px;
    height: 5px;
  }
  
  .videoslider .swiper-nav .swiper-pagination-bullet:hover {
    width: 20px;
  }
  
  
  .videoslider .swiper-nav .swiper-pagination-bullet-active {
    width: 35px;
  }

  .music-slider img {
    width: 300px;
    height: 300px;
  }

  .music-slider {
    height: 900px;
  }
  
  .music-slider .music-swiper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    height: 900px;
  }

  
  
  .music-slider p {
    color: white;
    text-align: center;
    font-family: Poppins, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    font-weight: bold;
  }

  .streaming-links img {
    height: 40px;
    width: 160px;
    position: relative;
    border: 2px solid black;
    background-color: transparent;
    transform: translateY(570px);
    object-fit: cover;
    box-shadow: 0px 0 5px #180118;
    transition: 0.3s ease-in;
  }

  .streaming-links {
    transform: translateY(-190px);
  }


}


@media (max-width: 650px) {
  .homecontent h1 {
    font-size: 30px;
  }

  .homecontent img {
    width: 100vw;
    height: 80vh;
    object-fit: cover;
  }

  .videoslider {
    margin-top: -40px;
    padding: 0;
    height: 60vh;
  }

  .videoslider .swiper iframe {
  left: 105px;
  top: 10px;
  max-height: 200px;
  margin-bottom: 40px;
  min-width: 60%;
  }

  .videoslider .swiper-button-prev,
  .videoslider .swiper-button-next {
    top: 120px;
    padding: 1.5px;
  }

  .videoslider .swiper-nav .swiper-pagination-bullet {
    width: 10px;
    height: 5px;
  }
  
  .videoslider .swiper-nav .swiper-pagination-bullet:hover {
    width: 15px;
  }
  
  
  .videoslider .swiper-nav .swiper-pagination-bullet-active {
    width: 30px;
  }



  .music-slider img {
    width: 200px;
    height: 200px;
  }

  .music-slider {
    height: 750px;
  }
  
  .music-slider .music-swiper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    height: 750px;
  }

  .music-slider p {
    color: white;
    text-align: center;
    font-family: Poppins, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    font-weight: bold;
  }

  .streaming-links img {
    height: 30px;
    width: 130px;
    position: relative;
    border: 2px solid black;
    background-color: transparent;
    transform: translateY(570px);
    object-fit: cover;
    box-shadow: 0px 0 5px #180118;
    transition: 0.3s ease-in;
  }

  .streaming-links {
    transform: translateY(-310px);
  }

}


@media (max-width: 470px) {
  .sidenav {
    width: 100%;
  }
  .homecontent h1 {
    font-size: 25px;
    top: 300px;
  }

  .homecontent img {
    width: 100vw;
    height: 60vh;
    object-fit: cover;
  }

  .videoslider {
    margin-top: -40px;
    padding: 0;
    height: 60vh;
  }

  .videoslider .swiper iframe {
  left: 95px;
  top: 10px;
  max-height: 200px;
  margin-bottom: 40px;
  min-width: 60%;
  }

  .videoslider .swiper-button-prev,
  .videoslider .swiper-button-next {
    top: 120px;
    padding: 1.5px;
  }

  .videoslider .swiper-nav .swiper-pagination-bullet {
    width: 10px;
    height: 5px;
  }
  
  .videoslider .swiper-nav .swiper-pagination-bullet:hover {
    width: 15px;
  }
  
  
  .videoslider .swiper-nav .swiper-pagination-bullet-active {
    width: 30px;
  }



  .music-slider img {
    width: 150px;
    height: 150px;
  }

  .music-slider {
    height: 680px;
  }
  
  .music-slider .music-swiper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    height: 680px;
  }

  .music-slider p {
    color: white;
    text-align: center;
    font-family: Poppins, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    font-weight: bold;
  }

  .streaming-links img {
    height: 27px;
    width: 110px;
    position: relative;
    border: 2px solid black;
    background-color: transparent;
    transform: translateY(570px);
    object-fit: cover;
    box-shadow: 0px 0 5px #180118;
    transition: 0.3s ease-in;
  }

  .streaming-links {
    transform: translateY(-360px);
  }

}


@media (max-width: 344px) {
  .sidenav {
    width: 344px;
  }

  .sidenav ul {
    display: flex;
    flex-direction: row;
    gap: 2em;
    transform: translateY(-15px);
  }

  .homecontent h1 {
    font-size: 25px;
    top: 300px;
  }

  .homecontent img {
    width: 100vw;
    height: 60vh;
    object-fit: cover;
  }

  .videoslider {
    margin-top: -40px;
    padding: 0;
    height: 55vh;
  }

  .videoslider h1 {
    font-size: 40px;
  }

  .videoslider .swiper iframe {
  left: 68px;
  top: 10px;
  max-height: 150px;
  margin-bottom: 40px;
  min-width: 60%;
  }

  .videoslider .swiper-button-prev,
  .videoslider .swiper-button-next {
    top: 85px;
    padding: 1.5px;
  }

  .videoslider .swiper-nav .swiper-pagination-bullet {
    width: 10px;
    height: 5px;
  }
  
  .videoslider .swiper-nav .swiper-pagination-bullet:hover {
    width: 15px;
  }
  
  
  .videoslider .swiper-nav .swiper-pagination-bullet-active {
    width: 30px;
  }



  .music-slider img {
    width: 120px;
    height: 120px;
  }

  .music-slider {
    height: 620px;
  }

  .music-slider h1 {
    font-size: 40px;
  }
  
  .music-slider .music-swiper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    height: 620px;
  }

  .music-slider p {
    color: white;
    text-align: center;
    font-family: Poppins, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 17px;
    font-weight: bold;
  }

  .streaming-links img {
    height: 25px;
    width: 100px;
    position: relative;
    border: 2px solid black;
    background-color: transparent;
    transform: translateY(570px);
    object-fit: cover;
    box-shadow: 0px 0 5px #180118;
    transition: 0.3s ease-in;
  }

  .streaming-links {
    transform: translateY(-400px);
  }

} */
